@import 'assets/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.title-page {
    font-family: 'Kaushan Script', cursive;
    font-size:  35px;
    color: #343a40;
    text-decoration: none;
}

.material-icons {
    font-size: inherit;
}

